/.env
/.env.bak
/credentials.md
/.local/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
/writable/debugbar/*
!/writable/**/index.html
/vendor/
/node_modules/
/deploy-queue.txt
/deploy.php
