/.env
/.env.bak
/credentials.md
/env_prd
/.local/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
/writable/debugbar/*
!/writable/**/index.html
/vendor/
/node_modules/
/deploy-queue.txt
/deploy.php
/writable/mail/*
/build/
